

body  {
  	background-color: #434F5B;
 	padding: 8%;
 	color:white;
 	position: relative;
	}

/*Colors - dark blue #212A3F
		 background cool blue #434F5B
		 white #F2F2F2
		 green #8AB839
		 black #2E2E2E*/

.container {
	border-radius: 1px;
	border-style: double;;
	vertical-align: middle;
	padding: 2%;
	text-align: center;
	background-color:  #212A3F;
}

.table-bordered {
	max-width: 1280px;
	padding-bottom:0;
}


.thead {
	border-radius:0;
}

h4 {
	 text-transform:uppercase;
	 font-family: normal;
	 font-size: 30px;
	 font-weight:lighter; 
}

.navbar {
	text-align: right;
	top: 0;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1;
	border-left-width: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	padding: 2%;

}